<style>
        a{
            color: rgb(240, 244, 244);
            text-decoration: none;
            border: 2px solid rgb(244, 7, 7);
            border-radius: 10px;
            background-color: black;
            
        }
        [type=submit]
        {
            background-color:#2098ca;
            padding: 1.5px;
          
            
        }
        .abc{
            display: flex;
            border: none;
            width: 100%;
            padding: 10px;
            justify-content: center;
            background: linear-gradient(rgba(6,72,105,0.849),rgb(3,96,133));
            
        }
        .msn{
           width: 100vw;
           height: 50px;
           color: red;
           text-align: center;
           font-size: 50px;
        }
       
        
    </style>

<div class="abc">
<form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="submit">
    
</form>
</div>
<a href="{% url 'app' %}" class="msn">go to view_book</a>