<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <style>
        a{
            color: rgb(247, 247, 248);
            text-decoration: none;
            border: 2px solid rgb(216, 8, 8);
            border-radius: 20px;
            background-color: black;
        }
    </style>
</head>
<body>
    <h1 style="color: black; text-align: center;">this my collection</h1>
    <a href="{% url 'app' %}">book</a>
    
  
   

</body>
</html>