<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            color: rgb(240, 244, 244);
            text-decoration: none;
            border: 2px solid rgb(244, 7, 7);
            border-radius: 10px;
            background-color: black;
            
        }
        table{
            
        }
    </style>
    
</head>
<body>
    <h2>my book</h2>
    <table border="3">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>author</th>
            <th>description</th>
        </tr>
        {%for i in book%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.price}}</td>
            <td>{{i.author}}</td>
            <td>{{i.description}}</td>


        </tr>
        {%endfor%}
        
    </table>
    <br>

    <a href="{% url 'home' %}">home</a>
    <a href="{% url 'add_book'%}">go to add_book</a>

    
 
    
</body>
</html>